{lib_dirs, ["deps"]}.

{sub_dirs, ["rel", "../common"]}.

{erl_opts, [{i, "../include"}, {src_dirs, ["src", "../common"]}]}.

{deps, [
   {'erlang-localtime', "1.0", {git, "git://github.com/dmitryme/erlang-localtime.git", ""}},
   {'mds-common', "1.0", {git, "git://github.com/dmitryme/mds-common.git", ""}},
   {'erlang-oauth', "1.0", {git, "git@github.com:dmitryme/erlang-oauth.git", ""}}
]}.
