{sys, [
       {lib_dirs, ["../deps/"]},
       {rel, "gtracker_db", "0.1",
        [
         kernel,
         stdlib,
         sasl,
         'mds-common',
         gtracker_db
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "gtracker_db"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, gtracker_db, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "gtracker_db"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/gtracker_db", "bin/gtracker_db"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
