{sys, [
       {lib_dirs, ["../deps/"]},
       {rel, "gtracker", "0.12",
        [
         kernel,
         stdlib,
         sasl,
         'mds-common',
         'erlang-localtime',
         'erlang-oauth',
         'erlang-mysql-driver',
         gtracker
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "gtracker"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, gtracker, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "gtracker"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/gtracker", "bin/gtracker"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
