/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

/*** HTML tags style ***/
html { 
   font-family: "Arial", "Sans-serif";
   font-size: 9pt;
   background: #91A2B5 url('/images/background.png') repeat-x;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

input, textarea, select {
   border-radius: 3pt;
   padding: 1pt;
   margin: 2pt;
   -moz-border-radius: 3pt;
}

/*** Blocks style ***/
.wrapper {
   position: relative;
   min-width: 800px;
   margin: 0 50pt;
}

.block {
   padding: 10pt;
   clear: both;
}

/*** Top bar ***/
.top_bar {
   top: 0;
   left: 0;
   right: 0;
   background: #000 url('/images/top_bg.png') repeat-x;
   color: #ccc;
   line-height: 32px
}

.top_bar .info {
   display: inline;
   font-weight: 700;
   color: #888;
}

.top_bar .info img {
   vertical-align: middle;
   padding-right: 5pt;
}

.top_bar input {
   border: solid 1px white;
   background: #ccc;
   color: #336;
}

.top_bar a {
   font-weight: 700;
   color: #91A2B5;
   padding-left: 5pt;
   padding-right: 5pt;
}
.top_bar .control {
   padding-left: 20pt;
   display: inline;
}

.top_bar a.registration {
   font-weight: 700;
   color: #B56172;
   padding-left: 5pt;
   padding-right: 5pt;
   float: right;
}

.top_bar a.logout {
   float: right;
}

.top_bar .admin {
   color: red;
}

/*** Header block style ***/
.header {
   line-height: 5.5em;
}

.header .logo {
   text-shadow: 1px 1px 1px rgba(255,255,255,.4);
   color: #52657A;
   font-weight: 700;
   font-size: 4em;
   float: left;
   outline: 0;
}

.header .logo:hover {
   text-decoration: none;
}

.header .navigation {
   float: right;
   font-size: 1.3em;
   font-weight: 700;
   list-style-type: none;
   position: relative;
}

.header .navigation li {
   display: block;
   float: left;
   margin-right: 12pt;
   color: #52657A;
}

.header .navigation li a {
   color: #000;
   text-shadow: 1px 1px 1px rgba(255,255,255,.4);
}

.header .navigation li a:hover {
   color: #333;
   text-decoration: none;
}

/*** Content block style ***/
.content {
   font-size: 1.2em;
   background: #ECF0F3;
   color: #000;
   border: 4px solid #52657A;
   min-height: 480px;
}

.content h1 {
   color: #666;
   font-weight: bold;
   font-style: normal;
   font-size: 2em;
   padding-bottom: 6pt;
   border-bottom: 1px dotted #52657A;
}

.content p {
   padding-top: 5pt;
   padding-bottom: 20pt;
}

.content input, .content textarea, .content select {
   border: solid 1px #52657A;
   background: #eef;
   color: #333;
   min-width: 80px;
}

.content input[type=button] {
   background: #eee;
   cursor: pointer;
}

.content input[type=button]:hover {
   background: #e0e0e0;
   border-color: #8295AA;
}

.content .view {
   background: #ECF0F3 url('/images/internal_bg.png') repeat-x;
   padding: 5pt;
   border-top-left-radius: 5pt;
   border-top-right-radius: 5pt;
   -moz-border-radius-topleft: 5pt;
   -moz-border-radius-topright: 5pt;
   margin-bottom: 10pt;
}

/*** Content-Welcome style ***/
.news_wrapper {
   width: 33%;
   float: left;
}

.news {
   margin: 5pt;
}

 link.news h3 { /* Timestamp */
   font-size: 0.7em;
   font-weight: normal;
   font-style: normal;
   color: #666;
}

.news p { /* Post */
   font-size: 0.9em;
   text-align: justify;
}

/*** Content-News editor style ***/
.news_editor table {
   border: 1px dotted gray;
   padding: 5pt;
}

.news_editor input {
   width: 200px;
}

.news_editor textarea {
   width: 400px;
   height: 300px;
}

.news_editor .record {
   border-top: 1px dotted gray;
}

.news_editor .table_header {
   font-weight: normal;
   background: #ccc;;
   color: #666;
}

/*** Content-Map style ***/
.map {
   border: 1px solid gray;
   height: 480px;
   border-bottom: 5px solid gray;
}

.device_list {
   margin-top: 5pt;
}

.device_wrapper {
   width: 20%;
   float: left;
}

.device {
   background: #CED6DE url('/images/device_bg.png') repeat-x;
   border: 1px solid gray;
   border-radius: 5pt;
   -moz-border-radius: 5pt;
   padding: 5pt;
   margin: 5pt;
   cursor: pointer;
   color: gray;
}

.online {
   border-color: green;
}

.online * {
   color: black;
}

.device span {
   float: right;
   font-weight: bold;
}

.device .property {
   margin-bottom: 4pt;
}

/*** Content-User Settings style ***/
.user_settings h2 {
   font-weight: 700;
   font-size: 1.2em;
   color: #333;
   margin-bottom: 5pt;
}

.user_settings table {
   width: 400px;
   border-bottom: 1px dotted gray;
}

.user_settings table td {
   border-top: 1px dotted gray;
   border-right: 1px dotted gray;
   padding: 5pt;
   vertical-align: top;
   min-width: 100px;
}

.user_settings table .first {
   width: 100%;
   border-left: 1px dotted gray;
}

/*** Content-Devoce Settings style ***/
.device_settings h2 {
   font-weight: 700;
   font-size: 1.2em;
   color: #333;
   margin-bottom: 5pt;
}

.device_settings table {
   width: 400px;
   border-bottom: 1px dotted gray;
}

.device_settings table td {
   border-top: 1px dotted gray;
   border-right: 1px dotted gray;
   padding: 5pt;
   vertical-align: top;
   min-width: 100px;
}

.device_settings table .first {
   width: 100%;
   border-left: 1px dotted gray;
}
