{lib_dirs, ["deps"]}.

{sub_dirs, ["rel"]}.

{erl_opts, [{i, "../include"}, {src_dirs, ["src", "../common"]}]}.

{deps, [
   {'mds-common', "1.0", {git, "git://github.com/dmitryme/mds-common.git", ""}},
   {'erlang-mysql-driver', "1.0", {git, "git@github.com:dmitryme/erlang-mysql-driver.git", ""}}
]}.
